.start{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  padding: 5px;
  background: $black;
  margin-bottom: 40px;
  &__title{
    font-family: $mulish;
    font-weight: 700;
    color:$white;
    text-align: center;
    font-size: 1.4rem;
  }
  &__text{
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    font-size: 1.2rem;
    color: $white;
    line-height: 1.4rem;
    text-align: center;
  }
  &__btn{
    font-family: $mulish;
    font-weight: 700;
    color:$white;
    background: $pink;
    text-align: center;
    font-size: 1rem;
    padding: 8px;
  }
}